@font-face {
    font-family: 'fffforwa'; /*a name to be used later*/
    src: url('res/FFFFORWA.TTF'); /*URL to font*/
}

body {
    background-image: url("res/web/p.jpg");
    font-family:'fffforwa';
}

.container {
    font-size: 24px;
    color: aliceblue;
}

.bigLetter {
    font-size: 34pt;
    color: blueviolet;
}