@font-face {
    font-family: 'fffforwa'; /*a name to be used later*/
    src: url('res/web/FFFFORWA.TTF'); /*URL to font*/
}

body {
    background-image: url("res/web/p.jpg");

}
body p, span, div {
    color: darkgrey;
    font-family:'fffforwa';
}

.container {
    font-size: 15px;
    color: aliceblue;
}

.bigLetter {
    font-size: 34pt;
    color: blueviolet;
    margin-left: 3%;
}
ol li {
    margin-bottom: 10px;
}

div a {
    color:blueviolet;
}

.contactImg {
    width: 70px;
}

nav li {
    margin-left: 3%;
}

#titleHeader {
    animation-name: bounceInDown;
    animation-duration: 1s;
    animation-delay: 1s;
}
#titleDiv {
    animation-name: bounceInDown;
    animation-duration: 1s;
    animation-delay: 2s;
}
#contentDiv {
    animation-name: bounceInDown;
    animation-duration: 1s;
    animation-delay: 3s;
}